@media only screen and (max-width: 1500px) {
  main article .cherry-img {
    padding: 380px 100px 0 100px;
  }
  main article .orange-img {
    padding: 380px 100px 0 100px;
  }
}
@media only screen and (max-width: 940px) {
  main article .cherry-img {
    padding: 380px 40px 0 40px;
  }
  main article .orange-img {
    padding: 380px 40px 0 40px;
  }
  main article .text-box {
    padding: 120px 80px;
  }
  main .testimonials .testimonial-boxes div {
    padding: 0px 18px;
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 830px) {
  .desktop-nav {
    display: none;
  }

  main article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main article:first-child {
    flex-direction: column-reverse;
  }

  main article .text-box {
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 50px 0;
  }
  main article .text-box p {
    margin: 0 30px;
  }

  main article .egg-img {
    background-image: url(./images/mobile/image-transform.jpg);
    width: 100%;
    padding: 0;
    height: 500px;
  }
  main article .glass-img {
    background-image: url(./images/mobile/image-stand-out.jpg);
    width: 100%;
    padding: 0;
    height: 500px;
  }
  header h1 {
    font-size: 38px;
  }
  header nav .mobile-nav {
    display: none;
    float: right;
  }
  header nav .mobile-nav .triangle {
    display: block;
    position: absolute;
    top: 69px;
    right: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 66.6px 11px 0;
    border-color: transparent #ffffff transparent transparent;
  }
  header nav button {
    display: block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  header nav button .nav-icon {
    display: block;
    width: 20px;
    margin: 0;
    position: absolute;
    padding: 0;
    top: 47px;
    right: 25px;
  }
  header nav .mobile-nav ul {
    display: block;
    width: 250px;
    position: absolute;
    top: 90px;
    right: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    background-color: #ffffff;
  }
  header nav .mobile-nav ul li {
    margin: 15px 0;
  }
  header nav .mobile-nav ul li a {
    text-decoration: none;
    color: #818498;
    padding: 0;
    margin: 0;
  }
  header nav .mobile-nav ul .contact-mobile-li {
    margin: 30px 0;
  }
  header nav .mobile-nav ul li .contact-mobile {
    background-color: #fad400;
    padding: 12px;
    border-radius: 30px;
    color: #000000;
    font-size: 14px;
  }
  main article .cherry-img {
    padding: 0;
    width: 100%;
    height: 500px;
  }

  main article .cherry-img h3 {
    margin-top: 200px;
  }
  main article .cherry-img p {
    margin: 15px 30px;
  }
  main article .orange-img {
    padding: 0;
    width: 100%;
    height: 500px;
  }

  main article .orange-img h3 {
    margin-top: 200px;
  }
  main article .orange-img p {
    margin: 15px 30px;
  }
  main .testimonials .testimonial-boxes {
    flex-direction: column;
  }
  main .pictures-section {
    flex-direction: column;
  }
  main .pictures-section .img-container-1 {
    width: 50%;
  }
  main .pictures-section .img-container-2 {
    width: 50%;
  }
  main .pictures-section .img-container-1 img {
    padding-right: 0;
  }
  main .pictures-section .img-container-2 img {
    padding-right: 0;
  }
}
@media only screen and (max-width: 320px) {
  header img {
    width: 160px;
  }
  header h1 {
    font-size: 22px;
  }
  main .testimonials h1 {
    margin-top: 200px;
    margin-bottom: 50px;
  }
  footer div .menu li a {
    padding: 0px 5px;
  }
}
