@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Fraunces", "Barlow", serif, sans-serif;
  font-size: 18px;
}

header {
  background: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 720px;
  padding: 40px 30px 0 30px;
}

header img {
  width: 200px;
}

header nav .logo {
  float: left;
}

header nav ul {
  float: right;
}

header nav ul li {
  display: inline-block;
  padding: 0 20px;
}

header nav ul li .contact {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 25px;
  color: #23303e;
  padding: 10px 15px;
  font-weight: 600;
}

header nav ul li a {
  color: #ffffff;
}

header nav ul li a:hover {
  text-decoration: none;
}

header h1 {
  margin-top: 100px;
  margin-bottom: 130px;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 10px;
  color: #ffffff;
}

header .arrow-down {
  display: block;
  margin: auto;
  width: 30px;
}

main article {
  height: 600px;
}

main article .egg-img {
  background-image: url(./images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center;
}

main article .text-box {
  padding: 140px 120px;
}

main article .text-box h2 {
  font-weight: 800;
}

main article .text-box p {
  color: #5a636c;
  margin: 30px 0;
}

main article .text-box .link-1 {
  text-transform: uppercase;
  font-weight: 700;
  color: #23303e;
  -webkit-text-decoration: underline #f6f4c4 5px;
          text-decoration: underline #f6f4c4 5px;
}

main article .glass-img {
  background-image: url(./images/desktop/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center;
}

main article .link-2 {
  text-transform: uppercase;
  font-weight: 700;
  color: #23303e;
  -webkit-text-decoration: underline #f6c4c4 5px;
          text-decoration: underline #f6c4c4 5px;
}

main article .cherry-img {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center;
  padding: 380px 160px 0 160px;
  color: #25564b;
}

main article .orange-img {
  background-image: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center;
  padding: 380px 160px 0 160px;
  color: #19536b;
}

main .testimonials h1 {
  color: #818498;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-top: 120px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

main .testimonials .testimonial-boxes {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 50px;
}

main .testimonials .testimonial-boxes div {
  padding: 0 50px;
  margin-bottom: 120px;
}

main .testimonials .testimonial-boxes div img {
  width: 65px;
  margin-bottom: 50px;
}

main .testimonials .testimonial-boxes div p {
  margin-bottom: 40px;
}

main .testimonials .testimonial-boxes div h3 {
  font-size: 20px;
  font-weight: 700;
}

main .testimonials .testimonial-boxes div h4 {
  color: #a7abae;
  font-size: 14px;
}

main .pictures-section img {
  padding: 0;
}

footer {
  background-color: #90d4c5;
}

footer div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div img {
  -webkit-filter: invert(29%) sepia(6%) saturate(3270%) hue-rotate(116deg) brightness(50%) contrast(90%);
          filter: invert(29%) sepia(6%) saturate(3270%) hue-rotate(116deg) brightness(50%) contrast(90%);
}

footer div ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

footer div ul li {
  padding-left: 5px;
  display: inline-block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */