@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$Soft-red: #fe7867;
$Yellow: #fad400;
$Dark-desaturated-cyan: #25564b;
$Dark-blue: #19536b;
$Dark-moderate-cyan: #458c7e;
$Very-dark-desaturated: #23303e;
$Very-dark-grayish-blue: #5a636c;
$Dark-grayish-blue: #818498;
$Grayish-blue: #a7abae;
$White: #ffffff;

body {
  font-family: "Fraunces", "Barlow", serif, sans-serif;
  font-size: 18px;
}
header {
  background: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 720px;
  padding: 40px 30px 0 30px;
  img {
    width: 200px;
  }
  nav {
    .logo {
      float: left;
    }
    ul {
      float: right;
      li {
        .contact {
          background-color: $White;
          border: 1px solid $White;
          border-radius: 25px;
          color: $Very-dark-desaturated;
          padding: 15px 20px;
          font-weight: 600;
        }
        .contact:hover {
          background-color: #6fcfff;
          border-color: transparent;
        }
        display: inline-block;
        padding: 0 20px;
        a {
          color: $White;
        }
        a:hover {
          text-decoration: none;
          color: $White;
        }
      }
    }
  }
  h1 {
    margin-top: 150px;
    margin-bottom: 80px;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 10px;
    color: $White;
  }
  .arrow-down {
    display: block;
    margin: auto;
    width: 35px;
  }
}
main {
  article {
    .egg-img {
      background-image: url(./images/desktop/image-transform.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      background-position: center;
    }
    height: 600px;
    .text-box {
      padding: 140px 120px;
      h2 {
        font-weight: 800;
      }
      p {
        color: $Very-dark-grayish-blue;
        margin: 30px 0;
      }
      .link-1 {
        text-transform: uppercase;
        font-weight: 700;
        color: $Very-dark-desaturated;
        text-decoration: underline #f6f4c4 5px;
      }
      .link-1:hover {
        text-decoration: underline #fdd100 5px;
      }
    }
  }
  article {
    .glass-img {
      background-image: url(./images/desktop/image-stand-out.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      background-position: center;
    }
    .link-2 {
      text-transform: uppercase;
      font-weight: 700;
      color: $Very-dark-desaturated;
      text-decoration: underline #f6c4c4 5px;
    }
    .link-2:hover {
      text-decoration: underline #fe7769 5px;
    }
  }
  article {
    .cherry-img {
      background-image: url(./images/desktop/image-graphic-design.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      background-position: center;

      padding: 380px 160px 0 160px;
      color: $Dark-desaturated-cyan;
    }
    .orange-img {
      background-image: url(./images/desktop/image-photography.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      background-position: center;

      padding: 380px 160px 0 160px;
      color: $Dark-blue;
    }
  }
  .testimonials {
    h1 {
      color: $Dark-grayish-blue;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 5px;
      margin-top: 120px;
      margin-bottom: 80px;
      text-transform: uppercase;
    }
    .testimonial-boxes {
      justify-content: space-evenly;
      margin: 0 50px;
      div {
        padding: 0 50px;
        margin-bottom: 120px;
        img {
          width: 65px;
          margin-bottom: 50px;
        }
        p {
          margin-bottom: 60px;
        }
        h3 {
          font-size: 20px;
          font-weight: 700;
        }
        h4 {
          color: $Grayish-blue;
          font-size: 14px;
        }
      }
    }
  }
  .pictures-section {
    img {
      padding: 0;
    }
  }
}
footer {
  background-color: #90d4c5;
  div {
    div {
      display: flex;
      justify-content: center;
    }
    img {
      filter: invert(29%) sepia(6%) saturate(3270%) hue-rotate(116deg)
        brightness(50%) contrast(90%);
      margin: 40px 0;
    }
    .menu {
      list-style: none;
      text-align: center;
      padding: 0;
      margin-bottom: 50px;
      li {
        padding: 0 35px;
        display: inline-block;
        a {
          color: $Dark-moderate-cyan;
        }
        a:hover {
          text-decoration: none;
          color: $White;
        }
      }
    }
    .social {
      list-style: none;
      text-align: center;
      padding: 0;
      li {
        display: inline-block;
        padding: 0 15px;
        a {
          color: $Dark-desaturated-cyan;
        }
        a:hover {
          color: $White;
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
